<!DOCTYPE HTML>
<html>
  <head>
    <title> </title>
    <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <header></header>
    <div class='funfactbox'>
      <article>
	<header>
	  <h2>{{funfact.title}}</h2>
	</header>
	<div class='funfacttext'>
	  {{funfact.text}}
	</div>
      </article>
    </div>
    <footer>À propos | Tous les funfacts | Mentions légales</footer>
  </body>
</html>
