{% extends "base.html" %}
{% block title %}Mentions légales{% endblock %}
{% block content %} Cette page n'existe que parce que le <a href="http://www.legifrance.gouv.fr/affichTexte.do;jsessionid=66A76DEB66990B10BC73E0B1788EC6F3.tpdjo08v_1?cidTexte=LEGITEXT000005789847&dateTexte=20121029">droit français</a> m'y oblige. L'article 6 précise que je dois donner les informations relatives à mon hébergeur.

<blockquote>
  Tilaa<br />
  Februariplein 14<br />
  1011 MT Amsterdam<br />
  Netherlands<br />
</blockquote>
{% endblock %}
